:root {
  --body-bg: #f2e9e4;
  --main-color: #4a4e69;
  --main-color-light: #d6eedd;
  --negative-color: #c9ada7;
  --secondary-color: #c9ada7;
  --third-color: #c6dccc;
  --link: #9a8c98;
  --border-color: #4a4e69;
  --spacing: 5px;
}
